/* ===== RESET DI BASE ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== VARIABILI CSS ===== */
:root {
    --primary-color: #e05b30;
    --secondary-color: #ff80ab;
    --background-color: #1e1e1e;
    --dark-background-color: #2b2b2b;
    --text-color: #e0e0e0;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --hover-shadow-color: rgba(0, 0, 0, 0.7);
    --border-color: #333;
    --gradient-bg: linear-gradient(135deg, #1e1e1e, #2b2b2b);
}

/* ===== STILE GENERALE ===== */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background: var(--gradient-bg);
    overflow-x: hidden;
    line-height: 1.6;
}

/* ===== LOGO CON EFFETTO FLOAT ===== */
.site-logo {
    width: 100%;
    max-width: 150px;
    height: auto;
    filter: drop-shadow(0 0 10px var(--primary-color));
    transition: transform 0.5s, filter 0.5s;
    animation: float 3s ease-in-out infinite;
}

.site-logo:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 20px var(--secondary-color));
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

/* ===== HEADER ===== */
header {
    background: linear-gradient(90deg, var(--background-color), var(--dark-background-color));
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid var(--border-color);
}

header h1 {
    font-size: 4em;
    color: var(--primary-color);
    position: relative;
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeInDown 1s ease-out forwards;
    opacity: 0;
}

header h1:hover {
    transform: scale(1.05);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ===== NAVIGAZIONE ===== */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #111;
    z-index: 9999;
    padding: 10px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

/* Container per il menu e l'hamburger */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Stili per le link di navigazione */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.4s ease, left 0.4s ease;
}

.nav-links li a:hover {
    background-color: var(--primary-color);
    color: #fff;
    transform: translateY(-3px);
}

.nav-links li a:hover::after {
    width: 100%;
    left: 0;
}

/* ===== MENU HAMBURGER ===== */
.hamburger {
    display: none;
    /* Nascondi di default */
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    height: 3px;
    width: 25px;
    background-color: var(--text-color);
    margin: 4px 0;
    transition: 0.4s;
}

/* ===== ANIMAZIONE HAMBURGER ===== */
.hamburger.toggle .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.toggle .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.toggle .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* ===== SEZIONI ===== */
section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    background: linear-gradient(145deg, var(--background-color), var(--dark-background-color));
    box-shadow: 5px 5px 15px #111, -5px -5px 15px #444;
    transition: transform 0.3s;
}

section:hover {
    transform: translateY(-5px);
}

section h2,
.recipe-box h2 {
    color: var(--primary-color);
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    position: relative;
}

/* ===== IMMAGINI ===== */
.pizza-img,
.prefermento-img,
.farina-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

/* ===== CONTENT ===== */
.item-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-content h2,
.item-content h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.item-content p {
    font-size: 1em;
    margin-bottom: 10px;
}

.item-content ul {
    list-style-type: disc;
    margin-left: 20px;
}

.item-content ul li {
    margin-bottom: 5px;
}

/* ===== FORM INPUTS ===== */
input,
select,
button {
    font-size: 1.2em;
    padding: 10px 15px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    background: var(--background-color);
    color: var(--text-color);
    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

button:hover {
    box-shadow: 0 0 15px var(--primary-color), 0 0 30px #5e2513;
    transform: scale(1.05);
    border-color: var(--secondary-color);
}

button:focus {
    box-shadow: 0 0 20px var(--primary-color);
    outline: none;
}

input:focus,
select:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 5px var(--primary-color);
    outline: none;
}

/* ===== FORM GROUP ===== */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

/* ===== CLASSI DI VISIBILITÀ ===== */
.hidden {
    display: none;
}

.active {
    display: block;
}

/* ===== SEZIONI RISULTATO E PIANIFICATORE ===== */
.recipe-box,
#risultato,
#plan-box {
    background: var(--dark-background-color);
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    color: var(--text-color);
    text-align: center;
    box-shadow: 0 8px 30px var(--shadow-color);
    transition: opacity 0.5s ease-in-out, transform 0.4s, box-shadow 0.4s;
    opacity: 0;
    /* Inizialmente nascosto */
}

.recipe-box.active,
#risultato.active,
#plan-box.active {
    opacity: 1;
}

.recipe-box:hover,
#risultato:hover,
#plan-box:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 40px var(--hover-shadow-color);
}

/* ===== CARD ===== */
.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    max-width: 1920px;
    padding: 20px;
}

.card {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
    box-shadow: 0 8px 30px var(--shadow-color);
    flex: 1;
    min-width: 250px;
    max-width: 350px;
    padding: 30px 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.4s, box-shadow 0.4s;
    position: relative;
    overflow: hidden;
    color: var(--text-color);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 40px var(--hover-shadow-color);
}

/* Effetto moderno per le card */
.card::before {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background: radial-gradient(circle at center, rgba(255, 102, 64, 0.2), transparent 70%);
    transition: transform 0.6s ease;
}

.card:hover::before {
    transform: scale(1.2);
}

.card h3 {
    margin-bottom: 15px;
    font-size: 1.8em;
    color: var(--primary-color);
}

.card p {
    font-size: 1em;
    color: #ccc;
    margin-bottom: 20px;
    line-height: 1.6;
}

.card img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 10px;
    transition: transform 0.3s, filter 0.3s;
}

.card:hover img {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.card .btn {
    display: inline-block;
    padding: 12px 25px;
    margin-top: 10px;
    background-color: transparent;
    color: var(--primary-color);
    text-decoration: none;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    z-index: 1;
}

.card .btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* ===== ASSISTENTE ===== */
.assistant-item {
    position: relative;
    opacity: 0;
    margin-bottom: 40px;
    animation: fadeInAssistant 1.5s ease-out forwards;
}

@keyframes fadeInAssistant {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ===== FOOTER ===== */
footer {
    background-color: var(--background-color);
    color: #e0e0e0;
    text-align: center;
    padding: 50px 20px;
    margin-top: 20px;
    border-top: 1px solid var(--border-color);
}

footer p {
    color: #888;
    transition: color 0.3s;
}

footer p:hover {
    color: var(--primary-color);
}

/* ===== PARALLAX SECTION ===== */
.parallax-section {
    position: relative;
    min-height: 100vh;
    background: url('../img/contemporanea2.jpg') no-repeat center center;
    background-size: 100%;
    /* Inizialmente zoomato */
    background-attachment: scroll;
    /* Assicura lo scroll fluido */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 2em;
    z-index: 1;
    transition: background-size 0.9s ease;
    /* Effetto zoom progressivo */
}

.parallax-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    /* Aumenta l'effetto durante lo scroll */
}

.parallax-section.scroll {
    background-size: 120%;
    /* Riduci lo zoom */
}

/* ===== TESTO DELLA PARALLAX CON GLOW ===== */
.parallax-text h2,
.parallax-text p {
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    z-index: 1;
    font-size: 6.5rem;
    letter-spacing: 2px;
    line-height: 1.5;
    max-width: 80%;
    /* Limita la larghezza del testo */
    margin: 0 auto;
    /* Centra il testo */
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.8),
        0 0 10px rgba(255, 255, 255, 0.6),
        0 0 20px var(--primary-color),
        0 0 30px var(--primary-color),
        0 0 40px var(--primary-color);
}

/* ===== ANIMAZIONI E TRANSIZIONI ===== */
.recipe-box,
#risultato,
#plan-box {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.recipe-box.active,
#risultato.active,
#plan-box.active {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    display: none;
}

.active {
    display: block;
}

/* ===== LINK "LEGGI DI PIÙ" ===== */
.read-more {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    transition: color 0.3s;
}

.read-more:hover {
    color: #f7825b;
}

.read-more::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    transition: top 0.4s ease;
}

.read-more:hover::before {
    top: 0;
}

/* ===== STILI PER IL CONTENUTO TESTUALE ===== */
.item-content h2,
.item-content h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.item-content p {
    font-size: 1em;
    margin-bottom: 10px;
}

.item-content ul {
    list-style-type: disc;
    margin-left: 20px;
}

.item-content ul li {
    margin-bottom: 5px;
}

/* ===== Desktop (Default) ===== */
.pizza-container section,
.prefermenti-container section,
.farine-container section {
    display: flex;
    /* Imposta il layout flessibile */
    flex-direction: row;
    /* Disposizione orizzontale */
    align-items: flex-start;
    /* Allinea il contenuto in alto */
    gap: 20px;
    /* Spazio tra immagine e testo */
}

.pizza-container section img.pizza-img,
.prefermenti-container section img.prefermento-img,
.farine-container section img.farina-img {
    max-width: 40%;
    /* Immagini al 40% della larghezza */
    height: auto;
    /* Mantiene il rapporto di aspetto */
}

.item-content {
    max-width: 60%;
    /* Contenuto testuale al 60% */
    padding-left: 20px;
    /* Spazio tra immagine e contenuto */
    text-align: left;
    /* Testo allineato a sinistra */
}


@media (max-width: 768) {

    /* ===== Navigazione ===== */
    .nav-links {
        flex-direction: column;
        display: none;
        /* Nasconde il menu di navigazione */
        width: 100%;
        background: #111;
        position: absolute;
        top: 60px;
        /* Posizionamento sotto l'header */
        left: 0;
    }

    .nav-links.active {
        display: flex;
        /* Visualizza il menu quando è attivo */
    }

    nav ul li {
        margin: 10px 0;
        /* Spaziatura verticale tra le voci */
    }

    .hamburger {
        display: flex;
        /* Mostra il menu hamburger */
        flex-direction: column;
        cursor: pointer;
    }

    /* ===== Header ===== */
    header h1 {
        font-size: 2.5em;
        /* Riduce la dimensione del titolo */
        padding: 60px 20px;
        /* Riduce il padding */
    }

    /* ===== Parallax Section ===== */
    .parallax-section {
        position: relative;
        background-image: url('../img/contemporanea2.jpg');
        /* Assicurati che il percorso sia corretto */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        /* Adatta l'immagine al contenitore */
        min-height: 60vh;
        /* Altezza della sezione */
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .parallax-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* Copre esattamente l'intera sezione */
        background: inherit;
        /* Usa l'immagine di sfondo */
        background-size: cover;
        background-position: center;
        z-index: -1;
        transform: translateY(0);
        /* Rimuove movimenti iniziali */
        transition: transform 0.3s ease-out;
        /* Movimento fluido */
        opacity: 0.85;
        /* Mantieni opacità costante */
    }

    .parallax-section.scroll::before {
        transform: scale(1.05) translateY(0);
        /* Leggero zoom durante lo scroll */
    }

    .parallax-text h2,
    .parallax-text p {
        font-size: 1.4rem;
        /* Dimensioni leggibili */
        line-height: 1.8;
        text-align: center;
        max-width: 100%;
        position: relative;
        z-index: 1;
        opacity: 1;
        color: #fff;
        text-shadow:
            0 0 5px rgba(255, 255, 255, 0.8),
            0 0 10px rgba(255, 255, 255, 0.6),
            0 0 20px var(--primary-color),
            0 0 30px var(--primary-color),
            0 0 40px var(--primary-color);
    }


    /* ===== Sezioni (Pizza, Prefermenti, Farine) ===== */
    .pizza-container section,
    .prefermenti-container section,
    .farine-container section {
        flex-direction: column;
        /* Disposizione verticale */
        align-items: center;
        /* Centra il contenuto */
        gap: 20px;
        /* Spaziatura tra gli elementi */
    }

    .prefermenti-container section img.prefermento-img,
    .farine-container section img.farina-img,
    .pizza-container section img.pizza-img {
        max-width: 100%;
        /* Immagini larghe 100% */
        height: auto;
        /* Mantiene il rapporto di aspetto */
        border-radius: 10px;
        /* Arrotonda i bordi */
        object-fit: cover;
        margin-bottom: 20px;
        /* Spaziatura sotto le immagini */
    }

    .item-content {
        max-width: 100%;
        /* Contenuto testuale a larghezza completa */
        padding-left: 0;
        /* Rimuove padding laterale */
        text-align: center;
        /* Testo centrato */
    }

    /* ===== Cards ===== */
    .cards-container {
        flex-direction: column;
        /* Disposizione verticale */
        align-items: center;
        /* Centra le card */
    }

    .card {
        max-width: 100%;
        /* Le card occupano tutta la larghezza */
    }

    /* ===== Form e Input ===== */
    input,
    select,
    button {
        font-size: 1em;
        /* Riduce la dimensione del testo */
        padding: 8px 12px;
        /* Spaziatura compatta */
        max-width: 100%;
        /* Adatta alla larghezza dello schermo */
    }

    button {
        padding: 10px 15px;
        /* Dimensione compatta */
    }

    .form-container {
        padding: 10px;
        /* Riduce margini interni */
    }

    .form-group {
        width: 100%;
        /* Input a larghezza piena */
        margin-bottom: 15px;
        /* Spaziatura tra i gruppi */
    }

    /* ===== Recipe Box e Risultati ===== */
    .recipe-box,
    #risultato,
    #plan-box {
        margin-top: 20px;
        padding: 15px;
        text-align: center;
        /* Testo centrato */
    }

    /* ===== Footer ===== */
    footer {
        padding: 50px 20px;
        /* Margini ampi per il testo */
        text-align: center;
        /* Testo centrato */
    }

    footer p {
        font-size: 0.9em;
        /* Riduce la dimensione del testo */
    }
}
